.flipCard {
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 3000px; 
    background-color: transparent;
    
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  

  
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px 10px 0px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.12), -1px -1px 20px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flipCardFront {
    background-color: #f3f3f3;
    color: black;

  }
  
  .flipCardFront img {
    margin: 50px;
    width: auto;
    height: 220px;
  }
  .flipCardBack {
    display: grid;
    align-items: center;
    background-color: #5C66BB;
    color: white;
    transform: rotateY(180deg);
  }
.CardContainer{
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}