.flipCard {
    background-color: transparent;
    width: 80%;
    height: 400px;
    perspective: 3000px; 
    background-color: transparent;
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  

  
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px 10px 0px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.12), -1px -1px 20px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
  }
  
  .flipCardFront {
    background-color: #f3f3f3;
    color: black;
    justify-content: center;
    font-size: 30px;

  }
  
  .flipCardFront img {
    margin: 30px;
    width: auto;
    height: 220px;
  }
  .flipCardBack {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C66BB;
    color: white;
    transform: rotateY(180deg);
  }
.CardContainer{
  padding: 2rem 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.data{
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
  overflow-y: auto; 
  width: 95%;
  padding: 10px 0;
  height: 5em; 
}

.data::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
  background-color: rgba(107, 107, 107, 0.445);
  border-radius: 20px;  
}

.data::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}