.linkA {
    padding: 0;
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    content: "";
    z-index: 10;
}